{% load cms_tags %}
{% if accordion.bootstrap %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion-{{ accordion.pk }}" href="#accordion-{{ accordion.pk }}-{{ parentloop.counter }}">
                {{ instance.title }}
            </a>
        </div>
        <div id="accordion-{{ accordion.pk }}-{{ parentloop.counter }}" class="accordion-body collapse in">
            <div class="accordion-inner">
            {% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <h3 class="trigger"><a href="#accordion-{{ accordion.pk }}-{{ parentloop.counter }}">{{ instance.title }}</a></h3>
    <div class="container" id="#accordion-{{ accordion.pk }}-{{ parentloop.counter }}">
        <div class="container-padding">
            {% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor %}
        </div>
    </div>
{% endif %}